<div #main id="main">
    <app-dialog [(visible)]="showDialogError">
        <h3>{{errorMessage}}</h3>
        <button (click)="showDialogError = !showDialogError" class="btn btn-info btn-responsive">Rozumiem</button>
    </app-dialog> 

    <h2>LISTA OSÓB - {{course?.name | uppercase}} </h2>
    <p>Poniżej znajduje się lista osób zapisanych na zajęcia.<p>

    <p><a (click)="navigate()" ata-toggle="tooltip" data-placement="bottom" title="Wróć do twoich przedmiotów" type="button" class="glyphicon glyphicon-arrow-left"></a> Wróć</p>

    <div #paginCourse class="btn-group">
        <ul class="pagination">
            <li [ngClass]="{'disabled': (indexStart == 0)}" ><a (click)="prevPageSelected()"><</a></li>
            <li *ngFor="let typesOfCourse of typesOfCoursesToDisplay" [ngClass]="{'active': (currentIndexId == typesOfCourse.id)}">
                <a ata-toggle="tooltip" data-placement="bottom" title="{{typesOfCourse.name}}" class="crop" (click)="setPageSelected(typesOfCourse.id)">{{typesOfCourse.name}}</a>
            </li>
            <li [ngClass]="{'disabled': (indexEnd >= typesOfCoursesToDisplay.length - 1)}"><a (click)="nextPageSelected()">></a></li>
        </ul>
    </div>

    <div *ngIf="actualClasses" class='row'>
        <div *ngFor="let class of actualClasses" class="panel">
            <div class="panel-heading">
                <div *ngFor="let details of class.classesDetails">{{details.day}}, {{details.hoursFrom | slice:0:5}} - {{details.hoursTo | slice:0:5}}</div>              
            </div>
            <div *ngIf="class.students.length !== 0" class='panel-body'>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:20%">Numer</th>
                            <th style="width:40%">Imię</th>
                            <th style="width:40%">Nazwisko</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of class.students; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{student.firstName}}</td>
                            <td>{{student.lastName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </div>
    </div>
</div>