<div #main id="main">

    <app-dialog [(visible)]="showDialogError">
        <h3>{{errorMessage}}</h3>
        <button (click)="showDialogError = !showDialogError" class="btn btn-info btn-responsive">Rozumiem</button>
    </app-dialog>

    <h2>ZAPIS NA ZAJĘCIA</h2>
    <p>Mozesz tutaj wybrać, na które zajęcia na danym przedmiocie chcesz chodzić.<br><p>
    <div *ngIf="course" #paginCourse class="btn-group">
        <ul class="pagination">
            <li [ngClass]="{'disabled': (indexStart == 0)}" ><a (click)="prevPageSelected()"><</a></li>
            <li *ngFor="let course of coursesToDisplay" [ngClass]="{'active': (currentIndexId == course.id)}" >
                <a ata-toggle="tooltip" data-placement="bottom" title="{{course.name}}" class="crop" (click)="setPageSelected(course.id)">{{course.name}}</a>
            </li>
            <li [ngClass]="{'disabled': (indexEnd >= courses.length - 1)}"><a (click)="nextPageSelected()">></a></li>
        </ul>
    </div>
    <h4>{{course?.name}}</h4>
    <p *ngIf="course">Data zakończenia zapisów: {{course?.endEnrolmentDate | date:'dd-MM-yyyy HH:mm'}}</p>
    <div *ngIf="course" class='row'>
        <div *ngFor="let typeClasses of course?.classesWithTypes | keys" class="panel">
            <div class="panel-heading">{{typeClasses}}</div>
        <classes-table-content [classesList]="course?.classesWithTypes[typeClasses]"></classes-table-content>
    </div>
</div>