<div #main id="main">  

    <app-dialog [(visible)]="showDialogError">
        <h3>{{errorMessage}}</h3>
        <button (click)="showDialogError = !showDialogError" class="btn btn-info btn-responsive">Rozumiem</button>
    </app-dialog>

    <h2>TWOJE ZAPISY</h2>
    <p>Poniżej znajdziesz informacje o zajęciach na jakie się zapisałeś.<p>

    <div *ngIf="classes" class='row'>
        <div *ngFor="let courseName of classes | keys" class="panel">
            <div class="panel-heading">
                <a (click)="navigate(classes[courseName])">
                    <span data-toggle="tooltip" data-placement="bottom" title="Lista osób uczęszczających na zajęcia" class="glyphicon glyphicon-align-justify"></span>
                </a>  
                {{courseName}}
            </div>
            <div class='panel-body'>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Typ zajęć</th>
                            <th>Dzień</th>
                            <th>Godzina</th>
                            <th>Budynek/Sala</th>
                            <th>Wykładowca</th>
                            <th>Ilość miejsc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let class of classes[courseName]">
                            <td>{{class.typeOfCourse}}</td>
                            <td>
                                <div *ngFor="let classesDetails of class.classesDetails">{{classesDetails.day}}</div>
                            </td>
                            <td>
                                <div *ngFor="let classesDetails of class.classesDetails">{{classesDetails.hoursFrom | slice:0:5}} - {{classesDetails.hoursTo | slice:0:5}}</div>
                            </td>
                            <td>
                                <div *ngFor="let classesDetails of class.classesDetails">{{classesDetails.building}}, {{classesDetails.roomNumber}}</div>          
                            </td>
                            <td>{{class.lecturer}}</td>
                            <td>{{class.actualGroupNumber}}/{{class.maxGroupNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 </div>