<div id="main">
    <h2>PRZEDMIOTY</h2>
    <p>Znajdziesz tutaj wszystkie przedmioty na jakie jesteś zapisany lub na które możesz się jeszcze zapisać. Pamiętaj, że jeśli zrezygnujesz z przedmiotu, na którego zajęcia się już zapisałeś stracisz bezpowrotnie miejsce.</p>
    
    <app-dialog [(visible)]="showDialogSelection">
        <h3>Czy na pewno chcesz się wypisać z wybranego przedmiotu?</h3>
        <button (click)="showDialogSelection = !showDialogSelection; deleteCourse();" class="btn btn-info btn-responsive">Tak</button>
        <button (click)="showDialogSelection = !showDialogSelection;" class="btn btn-info btn-responsive">Nie</button>
    </app-dialog>

    <app-dialog [(visible)]="showDialogError">
        <h3>{{errorMessage}}</h3>
        <button (click)="showDialogError = !showDialogError" class="btn btn-info btn-responsive">Rozumiem</button>
    </app-dialog>

    <div class='row'>
        <div class="panel">
                <div class="panel-heading">Twoje wybrane przedmioty</div>
            
            <div *ngIf="filteredItemsSelected.length !== 0" class='panel-body'>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:15%"></th>
                            <th style="width:20%">Nazwa</th>
                            <th style="width:15%">Koniec zapisów</th>
                            <th style="width:50%">Opis</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of itemsSelected">
                            <td><button class="btn btn-danger text-center btn-responsive" (click)="courseToDelete = item; showDialogSelection = !showDialogSelection; $event.stopPropagation();">Wypisz się</button></td>
                            <td>{{item.name}}</td>
                            <td>{{item.endEnrolmentDate | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                    <div class="btn-group">
                        <label style="margin-top:10px">Strona {{currentIndexSelected}}/{{pageNumberSelected}}</label>
                    </div>
                    <div class="btn-group pull-right">
                        <ul class="pagination" >
                            <li [ngClass]="{'disabled': (currentIndexSelected == 1 || pageNumberSelected == 0)}" ><a  (click)="prevPageSelected()"><</a></li>
                            <li *ngFor="let page of pagesIndexSelected"  [ngClass]="{'active': (currentIndexSelected == page)}">
                                <a (click)="setPageSelected(page)" >{{page}}</a>
                            </li>
                            <li [ngClass]="{'disabled': (currentIndexSelected == pageNumberSelected || pageNumberSelected == 0)}" ><a   (click)="nextPageSelected()">></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
    </div>

    <div class='row'>
        <div class="panel">
                <div class="panel-heading">Przedmioty do wybrania</div>
            
            <div *ngIf="allUnselectedCourses.length !== 0" class='panel-body'>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:15%"></th>
                            <th style="width:20%">Nazwa</th>
                            <th style="width:15%">Koniec zapisów</th>
                            <th style="width:50%">Opis</th>
                        </tr>
                        <tr>
                            <th colspan="4">             
                                <label class="text-center">Filtruj po nazwie </label>
                                <input class="form-control" type="text" id="inputName"  (keyup)="FilterByName()" [(ngModel)]="inputName"/>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of itemsUnselected">
                            <td><button class="btn btn-success text-center btn-responsive" (click)="saveCourse(item); $event.stopPropagation();">Zapisz się</button></td>
                            <td>{{item.name}}</td>
                            <td>{{item.endEnrolmentDate | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                    <div class="btn-group">
                        <label style="margin-top:10px">Strona {{currentIndexUnselected}}/{{pageNumberUnselected}}</label>
                    </div>
                    <div class="btn-group pull-right">
                        <ul class="pagination" >
                            <li [ngClass]="{'disabled': (currentIndexUnselected == 1 || pageNumberUnselected == 0)}" ><a  (click)="prevPage()"><</a></li>
                            <li *ngFor="let page of pagesIndexUnselected"  [ngClass]="{'active': (currentIndexUnselected == page)}">
                                <a (click)="setPage(page)" >{{page}}</a>
                            </li>
                            <li [ngClass]="{'disabled': (currentIndexUnselected == pageNumberUnselected || pageNumberUnselected == 0)}" ><a   (click)="nextPage()">></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>