<div #lists>
    <h4>
        <a ata-toggle="tooltip" data-placement="bottom" title="Dodaj przedmiot" (click)="addEmptyClasses(); lists.value=true; $event.stopPropagation();"><span class="glyphicon glyphicon-plus"></span></a>  	<a *ngIf="!lists.value; else second;" ata-toggle="tooltip" data-placement="bottom" title="Rozwiń listę przedmiotów" (click)="lists.value = true; $event.stopPropagation();"><span class="glyphicon glyphicon-chevron-down"></span></a><ng-template #second><a ata-toggle="tooltip" data-placement="bottom" title="Zwiń listę przedmiotów" (click)="lists.value = false;"><span class="glyphicon glyphicon-chevron-up"></span></a></ng-template> {{typeOfCourse}}(ilość zajęć: {{classes.length}})
    </h4>
    <div [hidden]="!(lists.value)">
        <div *ngFor="let item of classes">
                <div class='row'>
                <div class="panel">
                <div class="panel-heading"><a ata-toggle="tooltip" data-placement="bottom" title="Usuń przedmiot"><span class="glyphicon glyphicon-minus" (click)="removeClasses(item); $event.stopPropagation();"></span></a>  Szczegóły dotyczące przedmiotu</div>
                    <div class='panel-body'>
                        <div class="form-row">
                            <div class="form-group col-md-9">
                                <label>Prowadzący</label>
                                <input maxlength="50" type="text" class="form-control" placeholder="Imiona prowadzących..." (keypress)="restrictNumeric($event)" [(ngModel)]="item.lecturer" name="lecturer" #lecturer="ngModel">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Maksymalna ilość osób*</label>
                                <input required maxlength="2" class="form-control" (keypress)="restrictNumber($event)" [(ngModel)]="item.maxGroupNumber" name="maxGroupNumber" #maxGroupNumber="ngModel">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Opis zajęcia</label>
                                <textarea maxlength="2000" style="resize:none" class="form-control" rows="3" placeholder="Opis zajęcia..." [(ngModel)]="item.description" name="description" #description="ngModel"></textarea>
                            </div>
                        </div>                       
                        <create-course-details [classesDetails]="item.classesDetails"></create-course-details>
                    </div> 
                </div>
            </div> 
        </div>
    </div>
</div>