<div>
    <p><a ata-toggle="tooltip" data-placement="bottom" title="Zwiększ wymiar godzin" (click)="addClassDetails(); $event.stopPropagation();"><span class="glyphicon glyphicon-plus"></span></a> Dni, w których odbywają sie wybrane zajęcia. Jeśli zajęcia odbywają się w wymiarze większym niż jedne tygodniowo, można tutaj zdefiniować kolejne terminy.</p>
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let details of classesDetails">
                <td style="width:4%" *ngIf="classesDetails.length > 1">
                    <a ata-toggle="tooltip" data-placement="bottom" title="Usuń" (click)="removeClassDetails(details); $event.stopPropagation();"><span class="glyphicon glyphicon-minus"></span></a>
                </td>
                <td style="width:20%">
                    <select class="form-control" [(ngModel)]="details.day" name="day" #day="ngModel">
                        <option *ngFor="let object of objects" [selected]="object.id == 'details.day'" [ngValue]="object.id">{{object.day}}</option>
                    </select>
                </td>
                <td style="width:18%"><input required type="time" class="form-control" [(ngModel)]="details.hourFrom" name="hourFrom" #hourFrom="ngModel"></td>
                <td style="width:18%"><input required type="time" class="form-control" [(ngModel)]="details.hourTo" name="hourTo" #hourTo="ngModel"></td>
                <td style="width:20%"><input (keypress)="restrictNumeric($event)" maxlength="20" type="text" class="form-control" placeholder="Budynek..."  [(ngModel)]="details.building" name="building" #building="ngModel"></td>
                <td style="width:20%"><input (keypress)="restrictNumeric($event)" maxlength="20" type="text" class="form-control" placeholder="Sala..." [(ngModel)]="details.roomNumber" name="roomNumber" #roomNumber="ngModel"></td>
            </tr>
        </tbody>
    </table>
</div>