<div class='row'>
    <div class="panel">
        <div class="panel-heading">Wybrani prowadzący</div>
        <div class='panel-body'>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:10%"></th>
                        <th style="width:45%">Imie</th>
                        <th style="width:45%">Nazwisko</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>
                            <button *ngIf="unModifiedUserId != user.id" class="btn btn-danger text-center btn-responsive" (click)="removeUser(user); $event.stopPropagation();">Usuń</button>
                        </td>
                        <th>{{user.firstName}}</th>
                        <th>{{user.lastName}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel">
            <div class="panel-heading">Prowadzący do wybrania</div>
            <div *ngIf="toAddUsers && toAddUsers.length != 0" class='panel-body'>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:20%"></th>
                            <th style="width:40%">Imie</th>
                            <th style="width:40%">Nazwisko</th>
                        </tr>
                        <tr>
                            <th colspan="3">          
                                <label class="text-center">Szukaj prowadzących </label>   
                                <input-debounce #input delay="500" placeholder="Szukaj osób..." (keypress)="restrictNumeric($event)" (value)="filterByName($event)"></input-debounce>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of toAddUsers">
                            <td><button class="btn btn-success text-center btn-responsive" (click)="addUser(user); $event.stopPropagation();">Wybierz</button></td>
                            <th>{{user.firstName}}</th>
                            <th>{{user.lastName}}</th>
                        </tr>
                    </tbody>
                </table>
                <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                    <div class="btn-group">
                        <label style="margin-top:10px">Strona {{pageNumber == 0 ? pageNumber : from}}/{{pageNumber}}</label>
                    </div>
                    <div class="btn-group pull-right">
                        <ul class="pagination" >
                            <li [ngClass]="{'disabled': (minIndex == 1)}" ><a  (click)="prevPage()"><</a></li>
                            <li *ngFor="let page of pagesIndex" [ngClass]="{'active': (from == page)}">
                                <a (click)="setPage(page)" >{{page}}</a>
                            </li>
                            <li [ngClass]="{'disabled': (maxIndex >= pageNumber)}" ><a   (click)="nextPage()">></a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
</div>