<div #main id="main">

    <app-dialog [(visible)]="showDialogSuccess">
        <h3>Przedmiot został stworzony pomyślnie.</h3>
        <button (click)="showDialogSuccess = !showDialogSuccess; createSucces();" class="btn btn-info btn-responsive">Świetnie</button>
    </app-dialog>

    <app-dialog [(visible)]="showDialogError">
        <h3>{{errorMessage}}</h3>
        <button (click)="showDialogError = !showDialogError" class="btn btn-info btn-responsive">Rozumiem</button>
    </app-dialog>
    
    <h2>STWÓRZ PRZEDMIOT</h2>
    <div  class="btn-group">
        <div>
            <p><a (click)="createSucces();" ata-toggle="tooltip" data-placement="bottom" title="Wróć do twoich przedmiotów" type="button" class="glyphicon glyphicon-arrow-left"> </a> Wróć</p>
        </div>
        <ul class="pagination">
            <li [ngClass]="{'active': (number == 0)}" >
                <a ata-toggle="tooltip" data-placement="bottom" title="Informacje ogólne" class="crop" (click)="setNumber(0); $event.stopPropagation();">Informacje ogólne</a>
            </li>
            <li [ngClass]="{'active': (number == 1)}" >
                <a ata-toggle="tooltip" data-placement="bottom" title="Przedmioty" class="crop" (click)="setNumber(1); $event.stopPropagation();">Zajęcia</a>
            </li>
            <li [ngClass]="{'active': (number == 2)}" >
                <a ata-toggle="tooltip" data-placement="bottom" title="Prowadzący" class="crop" (click)="setNumber(2); $event.stopPropagation();">Prowadzący</a>
            </li>
        </ul>
    </div>
    <form #createForm="ngForm"> 
        <button type="submit" class="btn btn-info btn-responsive" [disabled]="!(createForm.form.valid && validDetails())" (click)="saveCourse()">STWÓRZ PRZEDMIOT</button>
        <div [hidden]="number != 0" class='row'>
            <div class="panel">
                <div class="panel-heading">
                    Informacje ogólne
                </div>
                <div class='panel-body'>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Nazwa*</label>
                            <input maxlength="50" required type="text" class="form-control" placeholder="Nazwa przedmiotu..." (keypress)="restrictNumeric($event)" required [(ngModel)]="createCourse.name" name="name" #name="ngModel">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Data rozpoczęcia zapisów*</label>
                            <input required type="datetime-local" class="form-control" [(ngModel)]="createCourse.startEnrolmentDate" name="startEnrolmentDate" #startEnrolmentDate="ngModel">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Data zakończenia zapisów*</label>
                            <input required type="datetime-local" class="form-control" [(ngModel)]="createCourse.endEnrolmentDate" name="endEnrolmentDate" #endEnrolmentDate="ngModel">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Opis przedmiotu</label>
                            <textarea maxlength="2000" style="resize:none" class="form-control" rows="5" id="comment" placeholder="Opis przedmiotu..." [(ngModel)]="createCourse.description" name="description" #description="ngModel"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="!(number == 1)" *ngIf="classes" class='row'>
            <div *ngFor="let class of classes | mapToIterable">
                <create-type-of-course-details [classes]="getClasses(class.key)" [typeOfCourse]="class.key.name"></create-type-of-course-details>
            </div>
        </div>
        <div [hidden]="!(number == 2)" *ngIf="classes" class='row'> 
            <create-course-teacher [user]="createUser" [unModifiedUserId]="unModifiedUserId"></create-course-teacher>
        </div>
    </form>
</div>