<div class="main">
    <div class="auth-block">
        <h1 class="text-center">Logowanie do aplikacji</h1>
        <a *ngIf="registrationAllow" routerLink="/registration" class="text-center">Nie masz konta? Zarejestruj się!</a>
        <form #loginForm="ngForm">
            <div *ngIf=error>
                {{error}}
                <div *ngIf="inactiveAccount">Jeśli chcesz otrzymać mail ponownie kliknij <a type="text" (click)='sendActivationMail()'>tutaj</a>.</div>
            </div>
            <div class="form-group">
                <label for="login">Login</label> 
                <input id="login-box" class="form-control" type="text" placeholder="login" required minlength="4" maxlength="50" required [(ngModel)]="user.username" name="username" #username="ngModel">
                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                    <div *ngIf="username.errors.required">
                        Pole <b>login</b> nie może być puste.
                    </div>
                    <div *ngIf="username.errors.minlength">
                        Pole <b>login</b> musi mieć przynajmniej 4 znaki.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="haslo">Hasło</label> 
                <input id="password-box" class="form-control" type="password" placeholder="password" required minlength="4" maxlength="100" [(ngModel)]="user.password" name="password" #password="ngModel">
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">
                            Pole <b>hasło</b> nie może być puste.
                        </div>
                        <div *ngIf="password.errors.minlength">
                            Pole <b>hasło</b> musi mieć przynajmniej 4 znaki.
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="role">Sposób logowania</label> 
                <select class="form-control" id="ldap" [(ngModel)]="user.ldap" name="ldap" #role="ngModel">
                    <option *ngFor="let accountType of accountTypes" [value]="accountType">{{accountType ? 'Konto LDAP' : 'Konto założone w aplikacji'}}</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-success" (click)='logIn()' [disabled]="!loginForm.form.valid">Zaloguj się</button>
            <a *ngIf="false">Zapomniałeś hasła?</a>
            
        </form>
    </div>
</div>