<div id="main">
    <h2>PARAMETRY</h2>
    <p>W poniższej tabelce znajdują się najważniejsze parametry systemowe.</p>

    <app-dialog [(visible)]="showDialog">
        <h4>{{messageError}}</h4>
        <button (click)="showDialog = !showDialog" class="btn btn-info btn-responsive">OK</button>
    </app-dialog>

    <div class='row'>
        <div class="panel">
            <div class="panel-heading">Parametry systemowe</div>
            <div class='panel-body'>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:15%"></th>
                            <th style="width:35%">Nazwa</th>
                            <th style="width:50%">Wartość</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr #change change.value="false" *ngFor="let item of parameters">
                            <td>
                                <div *ngIf="!change.value"> 
                                    <a (click)="change.value = !change.value; saveTemp(item.id, item.value);"><span data-toggle="tooltip" data-placement="bottom" title="Edytuj parametr" class="glyphicon glyphicon-wrench"></span></a>
                                </div>
                                <div *ngIf="change.value"> 
                                    <a (click)="change.value = !change.value; saveParameter(item);"><span data-toggle="tooltip" data-placement="bottom" title="Zapisz wprowadzoną zmianę" class="glyphicon glyphicon-ok-sign"></span></a>
                                    <a (click)="change.value = !change.value; returnChanges(item.id);"><span data-toggle="tooltip" data-placement="bottom" title="Anuluj wprowadzoną zmianę" class="glyphicon glyphicon-remove-sign"></span></a>
                                </div>
                            </td>
                            <td data-toggle="tooltip" data-placement="bottom" title="{{item.description}}">{{item.name}}</td>
                            <td *ngIf="item.type === 'D'">
                                <div *ngIf="!change.value"> 
                                    {{item.value | date:'dd-MM-yyyy HH:mm:ss'}}
                                </div>
                                <div *ngIf="change.value"> 
                                    <input min="item.value | date:'yyyy-MM-ddTHH:mm:ss'" class="form-control" [ngModel]="item.value | date:'yyyy-MM-ddTHH:mm:ss'" (ngModelChange)="item.value = $event" type="datetime-local"  name="item.value"/>             
                                </div>
                            </td>
                            <td *ngIf="item.type !== 'D'">
                                <div> 
                                    {{item.value}}
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>