<div class="main">
    <div class="auth-block">
        <h1 class="text-center">Rejestracja użytkownika</h1>
        <a routerLink="/login" class="text-center">Masz konto? Zaloguj się!</a>
        <form #registrationForm="ngForm">
            <div *ngIf=message>
                {{message}}
            </div>
            <div class="form-group">
                <label for="firstname">Imię</label> 
                <input id="firstname-box" class="form-control" type="text" placeholder="Imię" required pattern="[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+" minlength="3" maxlength="50" required [(ngModel)]="registrationUser.firstname" name="firstname" #firstname="ngModel">
                <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                    <div *ngIf="firstname.errors.required">
                        Pole <b>imię</b> nie może być puste.
                    </div>
                    <div *ngIf="firstname.errors.minlength">
                        Pole <b>imię</b> musi mieć przynajmniej 3 znaki.
                    </div>
                    <div *ngIf="firstname.errors.pattern">
                        Pole <b>imię</b> zawiera niedozwolone znaki. Może składać się wyłącznie z liter.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastname">Nazwisko</label> 
                <input id="lastname-box" class="form-control" type="text" placeholder="Nazwisko" required pattern="[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+" minlength="3" maxlength="50" required [(ngModel)]="registrationUser.lastname" name="lastname" #lastname="ngModel">
                <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                    <div *ngIf="lastname.errors.required">
                        Pole <b>nazwisko</b> nie może być puste.
                    </div>
                    <div *ngIf="lastname.errors.minlength">
                        Pole <b>nazwisko</b> musi mieć przynajmniej 3 znaki.
                    </div>
                    <div *ngIf="lastname.errors.pattern">
                         Pole <b>nazwisko</b> zawiera niedozwolone znaki. Może składać się wyłącznie z liter.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label> 
                <input id="email-box" class="form-control" type="email" placeholder="Email" checkEmail required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" minlength="4" maxlength="50" required [(ngModel)]="registrationUser.email" name="email" #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                        Pole <b>email</b> nie może być puste.
                    </div>
                    <div *ngIf="email.errors.minlength">
                        Pole <b>email</b> musi mieć przynajmniej 4 znaki.
                    </div>
                    <div *ngIf="email.errors.pattern">
                        Pole <b>email</b> nie jest poprawne. Proszę wprowadzić prawidłowy email.
                    </div>
                    <div *ngIf="email.errors.checkEmail">
                        Ten email jest już używany. Wybierz inny.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Login</label> 
                <input id="username-box" class="form-control" type="text" placeholder="Login" checkUsername required pattern="^[a-zA-Z][a-zA-Z0-9-_]{0,50}$" minlength="4" maxlength="50" required [(ngModel)]="registrationUser.username" name="username" #username="ngModel">
                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                    <div *ngIf="username.errors.required">
                        Pole <b>login</b> nie może być puste.
                    </div>
                    <div *ngIf="username.errors.minlength">
                        Pole <b>login</b> musi mieć przynajmniej 4 znaki.
                    </div>
                    <div *ngIf="username.errors.pattern">
                        Pole <b>login</b> zawiera niedozwolone znaki. Login może zawierać tylko cyfry, litery oraz znak podkreślenia.
                    </div>
                    <div *ngIf="username.errors.checkUsername">
                        Ten login jest już zajęty. Wybierz inny.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="haslo">Hasło</label> 
                <input id="password-box" class="form-control" type="password" placeholder="Hasło" required minlength="4" maxlength="100" [(ngModel)]="registrationUser.password" name="password" #password="ngModel">
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required">
                        Pole <b>hasło</b> nie może być puste.
                    </div>
                    <div *ngIf="password.errors.minlength">
                        Pole <b>hasło</b> musi mieć przynajmniej 4 znaki.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="powtorzoneHaslo">Powtórz hasło</label> 
                <input id="secondPassword-box" class="form-control" type="password" required minlength="4" maxlength="100" placeholder="Powtorz hasło" [(ngModel)]="registrationUser.secondPassword" name="secondPassword" #secondPassword="ngModel" [class.ng-invalid]="!checkPasswords()" [class.ng-valid]="checkPasswords()">
                <div *ngIf="secondPassword.invalid && (secondPassword.dirty || secondPassword.touched)">
                    <div *ngIf="secondPassword.errors.required">
                        Pole <b>hasło</b> nie może być puste.
                    </div>
                    <div *ngIf="secondPassword.errors.minlength">
                        Pole <b>hasło</b> musi mieć przynajmniej 4 znaki.
                    </div>
                </div>
                <div *ngIf="!checkPasswords()">
                    Hasło musi być identyczne z powyższym.
                </div>  
            </div>
            <div class="form-group">
                <label for="role">Uprawnienie</label> 
                <select class="form-control" id="role" [(ngModel)]="registrationUser.authority" name="role" #role="ngModel">
                    <option *ngFor="let role of roles" [value]="role">{{rolesNames[role]}}</option>
                </select>
            </div>
        
            <button type="submit" class="btn btn-success" (click)="registration()" [disabled]="!(registrationForm.form.valid && checkPasswords())">Zarejestruj się</button>
                
        </form>
    </div>
</div>
