<div id="header" >
        <img [src]="fullImagePath"> <p>Witaj {{name}} <a data-toggle="tooltip" data-placement="bottom" title="Wyloguj się" class="glyphicon glyphicon-off" (click)="logout()"></a></p>
</div>
<div id="side_and_content">
    <div id="left_side">  
        <a *ngIf="true" routerLink="/subjects/home" routerLinkActive="active"><b>
            <span class="glyphicon glyphicon-home"></span>Strona główna</b>
        </a>
        <a *ngIf="authority === 'ROLE_STUDENT'" routerLink="/subjects/courses" routerLinkActive="active"><b>
            <span class="glyphicon glyphicon-tasks"></span>Przedmioty</b>
        </a>
        <a *ngIf="authority === 'ROLE_STUDENT'" routerLink="/subjects/classes" routerLinkActive="active"><b>
            <span class="icon glyphicon glyphicon-indent-right"></span>Zajęcia</b>
        </a>
        <a *ngIf="authority === 'ROLE_STUDENT'" routerLink="/subjects/classesResult" routerLinkActive="active"><b>
                <span class="glyphicon glyphicon-list-alt"></span>Twoje zapisy</b>
        </a>
        <a *ngIf="authority === 'ROLE_TEACHER'" routerLink="/subjects/teacherCourses" routerLinkActive="active"><b>
            <span class="icon glyphicon glyphicon-indent-right"></span>Twoje zajęcia</b>
        </a>
        <a *ngIf="authority === 'ROLE_ADMIN'" routerLink="/subjects/parameters" routerLinkActive="active"><b>
            <span class="glyphicon glyphicon-wrench"></span>Parametry</b>
        </a>
    </div>
    <div id="content">
        <router-outlet></router-outlet> 
    </div>
</div>