<div class='panel-body'>
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let class of check(classesList)">
                <td>
                    <div *ngFor="let classesDetails of class.classesDetails">{{classesDetails.day}}</div>
                </td>
                <td>
                    <div *ngFor="let classesDetails of class.classesDetails">{{classesDetails.hoursFrom | slice:0:5}} - {{classesDetails.hoursTo | slice:0:5}}</div>
                </td>
                <td>
                    <div *ngFor="let classesDetails of class.classesDetails">{{classesDetails.building}}, {{classesDetails.roomNumber}}</div>          
                </td>
                <td>{{class.lecturer}}</td>
                <td>{{class.actualGroupNumber}}/{{class.maxGroupNumber}}</td>
                <td>
                    <div *ngIf="!class.chosen; else deleteBlock">
                        <button class="btn btn-success text-center btn-responsive" [disabled]="hasChoosen || class.actualGroupNumber >= class.maxGroupNumber" (click)="chooseClasses(class); $event.stopPropagation();">
                        <span *ngIf="hasChoosen" data-toggle="tooltip" data-placement="bottom" title="Inny termin został już wybrany">Zapisz się</span>
                        <span *ngIf="!hasChoosen && class.actualGroupNumber >= class.maxGroupNumber" data-toggle="tooltip" data-placement="bottom" title="Maksymalna ilość osób została osiągnięta">Zapisz się</span> 
                        <span *ngIf="!hasChoosen && class.actualGroupNumber < class.maxGroupNumber">Zapisz się</span>
                    </button>
                </div>
                <ng-template #deleteBlock>   
                    <button class="btn btn-success text-center btn-responsive" (click)="deleteClasses(class); $event.stopPropagation();">Wypisz się</button>
                </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>