<div id="main">
    <h2>TWOJE PRZEDMIOTY</h2>
    <p>Znajdziesz tutaj wszystkie twoje przedmioty, do których jesteś przypisany. Możesz tutaj także modyfikować oraz tworzyć nowe zajęcia.</p>
    <button type="button" class="left btn btn-info btn-responsive" routerLink='/subjects/teacherCourses/create'>Stwórz nowy przedmiot</button>
    
    <app-dialog [(visible)]="showDialog">
        <h4>{{message}}</h4>
        <button (click)="showDialog = !showDialog; toRemoved ? deleteCourse() : clearCourse();" class="btn btn-info btn-responsive">TAK</button>
        <button (click)="showDialog = !showDialog" class="btn btn-info btn-responsive">NIE</button>
    </app-dialog>

    <app-dialog [(visible)]="showDialogConfirmation">
        <h4>{{messageConfirmation}}</h4>
        <button (click)="showDialogConfirmation = !showDialogConfirmation;" class="btn btn-info btn-responsive">OK</button>
    </app-dialog>

    <div class='row'>
        <div class="panel">
            <div class="panel-heading">Twoje przedmioty</div>
            
            <div class='panel-body'>
                <table class="table table-striped">
                     <thead>
                        <tr>
                            <th style="width:15%"></th>
                            <th style="width:25%">Nazwa</th>
                            <th style="width:10%">Ilość osób</th>
                            <th style="width:10%">Stan</th>
                            <th style="width:40%">Opis</th>
                        </tr>
                        <tr>
                            <th colspan="5">          
                                <label class="text-center">Filtruj po nazwie </label>   
                                <input-debounce #input delay="500" placeholder="Szukaj po nazwie..." (keypress)="restrictNumeric($event)" (value)="filterByName($event)"></input-debounce>
                            </th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr *ngFor="let item of courses">
                            <td>
                                <a (click)="showConfirmation(true, item.id)"><span data-toggle="tooltip" data-placement="bottom" title="Usuń przedmiot" class="glyphicon glyphicon-trash"></span></a>   
                                <a (click)="showConfirmation(false, item.id)"><span data-toggle="tooltip" data-placement="bottom" title="Wyczyść listę zapisanych osób" class="glyphicon-trash glyphicon glyphicon-erase"></span></a>   
                                <a routerLink="/subjects/teacherCourses/update/{{item.id}}"><span data-toggle="tooltip" data-placement="bottom" title="Edytuj przedmiot" class="glyphicon glyphicon-wrench"></span></a>  
                                <a *ngIf="canSeeList(item)" (click)="downloadfile(item.name, item.id);"><span data-toggle="tooltip" data-placement="bottom" title="Pobierz listę osób" class="glyphicon glyphicon-download-alt"></span></a> 
                                <a *ngIf="canSeeList(item)" routerLink="/subjects/teacherCourses/{{item.id}}"><span data-toggle="tooltip" data-placement="bottom" title="Zobacz zapisane osoby" class="glyphicon glyphicon-align-justify"></span></a>       
                            </td> 
                            <td>{{item.name}}</td> 
                            <td>{{item.numberOfPeople}}</td> 
                            <td [class.canEnrolment]="canEnrolment(item)">{{getCourseState(item)}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                    </tbody>
                </table>
                 <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                    <div class="btn-group">
                        <label style="margin-top:10px">Strona {{pageNumber == 0 ? pageNumber : from}}/{{pageNumber}}</label>
                    </div>
                    <div class="btn-group pull-right">
                        <ul class="pagination" >
                            <li [ngClass]="{'disabled': (minIndex == 1)}" ><a  (click)="prevPage()"><</a></li>
                            <li *ngFor="let page of pagesIndex" [ngClass]="{'active': (from == page)}">
                                <a (click)="setPage(page)" >{{page}}</a>
                            </li>
                            <li [ngClass]="{'disabled': (maxIndex >= pageNumber)}" ><a   (click)="nextPage()">></a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>   
    </div>
</div>