<div class="main">
    <div class="auth-block">
        <h1 class="text-center">Konto aktywne!</h1>
        <p>Konto zostało aktywowane i od teraz możesz zalogować się do aplikacji. Kliknij <a routerLink="/login">tutaj</a>, aby przejść do strony głównej. W przypadku problemów z logowaniem skontaktuj się z administratorem systemu.</p>
    </div>
</div>
