a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #282828;  
}

input {
    color: #ffffff;
    background-color: hsla(0,0%,100%,.1);
}

.row {
    padding-top: 2%;
}

.panel {
    background-color: hsla(0,0%,100%,.1);
    box-shadow: 1px 1px 4px rgba(0,0,0,.15);
    border-radius: 7px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.1);
}

.table-striped>tbody>tr>td, .table>tbody>tr>th {
    border: none;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
}

li {
    cursor: pointer;
}

.pagination>li>a, .pagination>li>span {
    background: transparent;
    color: #ffffff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #23527c;
    color: #ffffff;
    background-color: rgba(46, 46, 46, 0.459)!important;
    border-color: hsla(0,0%,100%,.5)!important;
}

.pagination>.active>a,
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    background-color: rgba(0,0,0,.3)!important;
    border-color: hsla(0,0%,100%,.5)!important;
}

button.btn.btn-info {
    background: #00abff;
    border-color: #00abff;
}

@media (max-width: 768px) {
    .btn-responsive {
      padding:2px 4px;
      font-size:80%;
      line-height: 1;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
      padding:4px 9px;
      font-size:90%;
      line-height: 1.2;
    }
  }

  .crop {
     width: 200px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
  }