a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #282828;  
}

select option { 
    background: rgb(81, 179, 240);
}

textarea, input, select {
    color: #ffffff;
    background-color: hsla(0,0%,100%,.1);
}

.row {
    padding-top: 2%;
}

.panel {
    background-color: hsla(0,0%,100%,.1);
    box-shadow: 1px 1px 4px rgba(0,0,0,.15);
    border-radius: 7px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.1);
}

.table-striped>tbody>tr>td, .table>tbody>tr>th {
    border: none;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
}

li {
    cursor: pointer;
}

.pagination>li>a, .pagination>li>span {
    background: transparent;
    color: #ffffff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #23527c;
    color: #ffffff;
    background-color: rgba(46, 46, 46, 0.459)!important;
    border-color: hsla(0,0%,100%,.5)!important;
}

.pagination>.active>a,
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    background-color: rgba(0,0,0,.3)!important;
    border-color: hsla(0,0%,100%,.5)!important;
}

button.btn.btn-info {
    background: #00abff;
    border-color: #00abff;
}

button.btn.btn-info:hover {
    background: #00aeffa9;
    border-color: #00abff;
}

@media (max-width: 768px) {
    .btn-responsive {
      padding:2px 4px;
      font-size:80%;
      line-height: 1;
    }
  }
  
@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
      padding:4px 9px;
      font-size:90%;
      line-height: 1.2;
    }
  }

::-webkit-inner-spin-button { 
    display: none; 
}
::-webkit-calendar-picker-indicator:hover { 
    background: rgba(0,0,0,.3); 
}
::-webkit-clear-button {
    -webkit-appearance: none;
     display: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffffb6;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ffffffb6;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ffffffb6;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ffffffb6;
}

.crop {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div a span{
    color: #ffffff;
    cursor: pointer;
}

div a span:hover {
    color: #282828;  
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.myInvalid {
    border-left: 5px solid #a94442; /* red */
}

.search-result{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:195px;
    height: 16px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
  }
   
  .search-result:hover {
    color: #eee;
    background-color: #607D8B;
  }
   
  #search-box{
    width: 200px;
    height: 20px;
  }