td a {
    color: #ffffff;
    cursor: pointer;
}

td a:hover {
    color: #282828;  
}

input {
    color: #ffffff;
    background-color: hsla(0,0%,100%,.1);
}

.row {
    padding-top: 2%;
}

.panel {
    background-color: hsla(0,0%,100%,.1);
    box-shadow: 1px 1px 4px rgba(0,0,0,.15);
    border-radius: 7px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.1);
}

.table-striped>tbody>tr>td, .table>tbody>tr>th {
    border: none;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
}

li {
    cursor: pointer;
}

.pagination>li>a, .pagination>li>span {
    background: transparent;
    color: #ffffff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #23527c;
    color: #ffffff;
    background-color: rgba(46, 46, 46, 0.459)!important;
    border-color: hsla(0,0%,100%,.5)!important;
}

.pagination>.active>a,
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    background-color: rgba(0,0,0,.3)!important;
    border-color: hsla(0,0%,100%,.5)!important;
}

button.btn.btn-info {
    background: #00abff;
    border-color: #00abff;
}

::-webkit-inner-spin-button { 
    display: none; 
}
::-webkit-calendar-picker-indicator:hover { 
    background: rgba(0,0,0,.3); 
}
::-webkit-clear-button {
    -webkit-appearance: none;
     display: none;
   }