.main {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../../images/sky-background.jpg) no-repeat 50%;
    background-size: cover;
    will-change: transform;
    z-index: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.auth-block {
    display: block;
    width: 100%;
    padding: .5rem .75rem;

    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0,0,0,.55);
    color: #fff;
    padding: 32px;
}

input, select{
    color: #fff;
    background-color: hsla(0,0%,100%,.1);
}

select option { 
    background: rgb(57, 87, 108);
}

a {
    color: #00abff;
    cursor: pointer;
    cursor: hand;
}

/* button {
    font-family: Arial;
    background-color: rgba(0,0,0,.55);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }

  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  } */

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.myInvalid {
    border-left: 5px solid #a94442; /* red */
}

.ng-pristine[required] {
    border-left: 5px solid #4a95f3; /* green */
}
