#header {
    position: fixed;
    z-index: 2;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 7%;
    background-color: #282828; 
    color: #fff;
}

#header img {
    height: 100%;
    margin-left: 1%;
}

#header p {
    float: right;
    padding: 2vh;
    font-size: 2vh;
}

#header a {
    padding-left: 20px;
    text-decoration: none;
    color: #fff;
}

#side_and_content {
    display: flex;
}

#left_side {
    position: fixed;
    z-index: 2;
    left: 0%;
    top: 7%;
    width: 180px;
    height: 93%;
    background-color: #282828;  
    color: #fff;
    padding: 10px;
}

#left_side a {
    font-family: sans-serif;
    padding: 15px 10px 15px 13px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    display: block;
}

#left_side a span {
    padding: 0px 25px 0px 0px;
    display: inline-block;
}

#left_side a:visited, a:link {
    color: #fff;
}

#left_side a:hover, #header a:hover {
    color: #039be5;
    transition: 0.5s;
}

#left_side a.active {
    color: #fff;
    background-color: #039be5;
}

#content {
    position: absolute;
    left: 180px;
    top: 7%;
    width: calc(100% - 180px);
    min-height: 93%;
    background: url(../../images/sky-background.jpg) fixed; 
    padding: 50px 50px 8px 50px;
    font-family: Helvetica;
    color: #fff;
    min-width: 700px;
}