.main {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../../images/sky-background.jpg) no-repeat 50%;
    background-size: cover;
    will-change: transform;
    z-index: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
    height: 100%;
    width: 100%;
    position: absolute;
}

.auth-block {
    display: block;
    width: 100%;
    padding: .5rem .75rem;

    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0,0,0,.55);
    color: #fff;
    padding: 32px; 
}

a {
    color: #00abff;
    cursor: pointer;
    cursor: hand;
}