.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .dialog {
    z-index: 1000;
    width: 20%;
    height: 20%;
    position: fixed;
    top: 40%;
    margin-left: 30%; 
    background-color: hsla(0,0%,100%,.1);
    text-align: center;
  }